.Card   
  border 1px solid #f00
  background 	#D3D3D3
  border 3px solid black
  border-radius 0.5em
  width: 150px
  
  &-description
    background white
    padding .5em
    font-size: 12px
    
  &-image 
    border 1px solid black
    width 100%
    box-sizing border-box
    
    